# ----------------------------------------
#                PostgreSQL
# ----------------------------------------

# The postgres version tag to be used. 
#   Reference: https://hub.docker.com/_/postgres
#
# Note: In development, this is often set to 'latest'
POSTGRES_VERSION_TAG='16-alpine'

# The name of the databsae to be used by wikijs
POSTGRES_DATABASE='wikijs_db'

# The PostgreSQL username and password to be used by wikijs
POSTGRES_USER='wikijs'
POSTGRES_PASSWORD='__wikijs4me!!'

# The read-write path on the host system where the PostgreSQL data should be stored
#
# Windows paths should be formatted with double backslashes in the path name
# i.e. d:\\wikijs\\db
POSTGRES_DATA_VOLUME='d:\\docker-test-data\\wikijs\\db'

# THe external port number that PostgreSQL will accept connections from
#
# NOTE: You will need to uncomment a section of the docker-compose.yml file
#       to enable connections to PostgreSQL.  By default a port configuration is not
#       provided.
POSTGRES_EXTERNAL_PORT=5432

# ----------------------------------------
#                Wiki.js
# ----------------------------------------

# The wikijs version tag to be used. 
#   Reference: https://hub.docker.com/r/requarks/wiki 
#
# Note: In development, this is often set to 'latest'
WIKIJS_VERSION_TAG='2'

# The port wikijs should be listening for HTTP traffic on
WIKIJS_EXTERNAL_PORT=8081
